body{
	background: #d2d4d3;
}
body, .btn {
	font-family: Arial, helvetica, verdana, sans-serif;
	font-size: 12px;
}
a{
	color: #135994;
}
.container{
	background: #fff;
}
.header{
	padding: 0 15px;
}
.no_display{
	display: none;
}
.txt_bold{
	font-weight: bold;
}
h1.coats{
	display: inline-block;
	font-size: 26px;
	margin: 5px 0;
}
h1.coats a, h1.coats a:hover, h1.coats a:focus, h1.coats a:active{
	text-decoration: none;
}
h1.coats a span{
	font-size: 26px;
	color: #135994;
	margin-left: 20px;
	vertical-align: middle;
}
.top-nav li a {
	color: #fff;
}
.top-nav li a:hover, .top-nav li a:focus, .top-nav li a:active, .navbar-brand:hover {
	color: #135994;
}
.top-nav li a{
    padding: 7px 22px 7px 22px;
}
.navbar-right .dropdown{
	margin-top: 10px;
}
.navbar-right .dropdown .btn{
	border: 0;
	border-radius: 4px 4px 0 0;
	color: #135994;
	background-color: #fefefe;
}
.nav.navbar-right>li>a, .dropdown-menu li a{
	color: #135994;
	font-size: 12px;
}
.nav.navbar-right>li>a:focus, .nav.navbar-right>li>a:hover {
    background-color: transparent;
}
button#dropdownMenu1:hover{
	background: #efefef;
}
.dropdown:hover .btn.btn-default.dropdown-toggle{
	background: #efefef;
}
.navbar-brand{
	height: 34px;
	padding: 7px 22px 7px 22px;
    color: #fff;
    font-size: 12px;
}
.navbar-toggle{
	margin-right: 20px;
}
.navbar-toggle .icon-bar {
    background-color: #efefef;
	height: 3px;
}
.nav.navbar-right .dropdown:hover .dropdown-menu {
    display: block;
 }
.navbar-right .dropdown-menu{
	margin: 0;
	border: 0;
	border-radius: 4px 0 4px 4px;
	background: #efefef;
	box-shadow: none;
	min-width: 150px;
}
.open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover, .navbar-brand:hover{
	background-color: #efefef;
}
.nav-menu>.container{
	background: #135994;
}
.nav-menu>.container{
	padding-left: 0;
	padding-right: 0;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	color: #135994;
}
.img_wrapper{
	text-align: center;
	margin: 20px 0;
	position: relative
}
.img_wrapper img{
	width: 100%;
	height: auto;
	max-width: 200px;
}
.promo_text{
	position: absolute;
	top: 72px;
	left: 20%;
	color: #333;
}
.promo_text2{
	left: 23%;
}
.main-content h3{
	font-family: 'Arial Bold', 'Arial';
	font-weight: 700;
	text-align: left;
	font-style: normal;
}
.contact_link{
	display: block;
	font-weight: bold;
}
table.dataTable{
	border-collapse: collapse;
	text-align: center;
	width: 100% !important;
}
table.dataTable a{
	cursor: pointer;
}
table.dataTable thead th, table.dataTable thead td{
	border-bottom: 1px solid #ddd;
	text-align: center;
	background: #d2d4d3;
}
table.dataTable.hover tbody tr:hover, table.dataTable tbody tr:hover {
    background-color: #eee;
}
.product_avail_chk{
	background: #eee;
	border-radius: 5px;
	margin: 0 auto;
	padding: 10px;
	min-height: 130px;
}
.product_avail_chk .btn{
	padding: 6px 12px 5px;
    margin-top: -3px;
	margin-left: 25px;
}
.product_avail_chk select{
	margin-right: 10px;
}
.left-section .btn-lg{
	width: 75%;
    font-size: 15px;
}
.small_img{
	margin-top: 15px;
}
.img_shade{
	width: 20px;
	margin-left: 10px;
}
.pad_left0{
	padding-left: 0;
}
.clickable-row{
	cursor: pointer;
}
.view-all {
    font-size: 16px;
    margin-top: 10px;
}
.btn-order{
	background: #F58027;
	color: #fff;
}
.btn-order:hover, .btn-order:active, .btn-order:focus{
	background: #F9B37C;
	color: #fff;
}	
.btn-primary{
	background: #00B3E5;
	border-color: #00ADDF;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background: #178EAB;
	border-color: #1688A5;
}
.tab-content>.active {
    display: block;
    background: #fff;
    padding: 15px 10px 20px;
    border-radius: 4px;
	border: 1px solid #ddd;
	border-top: 0;
}
.tab-content .form-control{
	display: inline-block;
	width: auto;
	height: 30px;
    padding: 4px 12px;
}
#shade_code, #trims_qty{
	max-width: 40px;
	margin-left: 5px;
	margin-right: 5px;
}
#shade_code{
	max-width: 70px;
}
#thread-brand{
	margin-bottom: 10px;
}
#order-upload{
	margin-bottom: 20px;
}
#trims .btn{
	margin-top: 10px;
    margin-left: 33%;
}
.text-center{
	text-align: center;
}
.main-content>.container{
	padding-top: 20px;
	padding-bottom: 30px;
}
footer .container{
	background: #d2d4d3;
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 14px;
}
#example_filter, #example_length, #example_info, #example_paginate {
    display: none;
}
input.form-control, select.form-control{
	display: inline-block;
	width: auto;
}
/* Media Queries start here */
@media screen and (max-width: 1024px) and (min-width: 320px) {
	.navbar-brand:hover, .dropdown-menu li a, .navbar-right .dropdown-menu, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover, .navbar-brand:hover {
        background: transparent;
		color: #efefef;
    }
	h1.coats a span{
		display: none;
	}
	.navbar-right {
    float: right!important;
    margin-right: -15px;
	}
	.navbar-nav.navbar-right>li {
    float: left;
	}
	.navbar-right .fa{
		font-size: 20px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.navbar-right span.fa.fa-user {
    margin-right: 10px;
	}
	.top-nav a, .dropdown-menu li a{
		font-size: 20px;
		padding: 15px;
	}
	.navbar-nav .open .dropdown-menu>li>a{
		padding-left: 10%;
	}
	.top-nav a.navbar-brand {
        padding: 15px;
    }
	.promo_text, .promo_text2{
		left: 33%;
	}
	.left-section .btn-lg{
		width: 60%;
		font-size: 16px;
	}
	#trims .btn{
		margin-top: -3px;
		margin-left: 25px;
	}
	.top-nav li a {
		padding: 7px 15px;
	}
	#threads select, #trims select, #trims input{
		margin-bottom: 10px;
	}
}

@media (min-width:768px){
	.container {
		width: 100%;
	}
	.navbar-toggle{
		display:block;
	}
	.navbar-collapse.collapse {
		display: none!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: hidden!important;
	}
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}	
	.container-fluid>.navbar-collapse{
		margin-right: -15px;
		margin-left: -15px;
	}
	.navbar-header {
		float: none;
	}
	.collapse.in {
		display: block!important;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav {
		float: none;
		margin: 7.5px -15px;
	}
	.navbar-toggle{
		margin-right: 5px;
	}
}

@media (min-width:1025px){
	.navbar-toggle {
		display: none;
	}
	.navbar-collapse.collapse {
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important;
	}
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.container-fluid>.navbar-collapse{
		margin-right: 0;
		margin-left: 0;
	}
	.navbar-header {
		float: left;
	}
	.navbar-nav>li {
		float: left;
	}
	.navbar-nav {
		float: left;
		margin: 0;
	}
}
@media (min-width:1400px){
	.container {
		width: 1320px;
	}
}